Xft.lcdfilter: lcddefault
Xft.rgba: rgb

URxvt*font: xft:dejavu sans mono:size=9

URxvt*scrollBar: false

! Colored man pages
URxvt.colorIT:      #87af5f
URxvt.colorBD:      #d7d7d7
URxvt.colorUL:      #87afd7



